.App {
    text-align: center;
}

.upcoming-checkbox {
    margin-top: 2em;
    align-items: center;
    display: flex;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}